.header {
  color: #eff6ff;
  display: flex;
  justify-content: space-between;
  padding: 2rem 12rem;
  background-color: #1e3a8a;
}

.logo,
.user {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.logo h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

.user .name {
  font-size: 1.6rem;
  font-weight: 600;
}

.user .email {
  font-size: 1.4rem;
  font-weight: 400;
}

.user img {
  width: 50px;
  height: 50px;
}
